*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color:#548687;
    text-align: center;

}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin; 
    width: 60vmin; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 5rem;
    background-color: #ffffc7;
    color:black;
}

#reset-btn{
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #191913;
}

#new-btn{
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    background-color: #191913;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.msg-container{
    height: 15vmin;
}
.hide{
    display: none;
}